.vote-button, .vote-text {
  color: #9AC4BB;
  margin-bottom: 0px;
}

.vote-text {
  margin-top: 5px;
}

.add-new-cm {
  margin-top: 10px;
  margin-bottom: 10px;
}

article.card {
  width: 90vw;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 72vh;
  border-radius: 10px;
  overflow: hidden;
}

article.card .thumb {
  background-size: contain;
  width: 110%;
  min-height: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
}

article.card .infos {
  background-color: #2A404A;
  position: relative;
  transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  opacity: 0;
  padding: 12px;
  min-height: 100%;
}

article.card .infos .subtitle {
  color: #9AC4BB;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  transform: translateY(-30px);
  margin-top: 0px;
}

article.card .infos .subtitle2 {
  color: #9AC4BB;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  transform: translateY(0px);
  margin-top: 0px;
}

article.card .infos .txt {
  color: rgb(109, 136, 148);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  line-height: 1.2rem;
  font-size: 1rem;
  transform: translateY(-30px);
}

article.card .infos .txt2 {
  color: rgb(109, 136, 148);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  line-height: 1.2rem;
  font-size: 1rem;
  transform: translateY(0px);
}

article.card .infos .cm-score {
  transform: translateY(-15px);
  position: absolute;
  bottom: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: first baseline;
}


article.card .infos .double-click-message {
  opacity: 0;
  font-size: .8rem;
  transform: translateY(-30px);
  color: grey;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}

article.card:hover .infos {
  transform: translateY(-200px);
}

article.card:hover .infos, 
article.card:hover .double-click-message
{
  opacity: 1;
}

/* 

MODAL STYLING 
MODAL STYLING 
MODAL STYLING 
MODAL STYLING

*/

.modal-content {
  border-radius: 5px !important;
  border: 1px solid transparent !important;
}
.modal-header {
  background-color: #2A404A;
  margin-top: -1px !important;
  border-bottom: none !important;
}

h5.modal-title {
  color: white;
  font-size: 1rem;
}

button.close {
  color: white;
  text-shadow: none !important;
}

.modal-body label {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #2A404A;
}

.modal-body input {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: .9rem;
}

.modal-body .form-group {
  margin-bottom: 0rem;
  margin-top: .5rem;
}

.modal-body .form-group:first-child {
  margin-top: 0rem;
}

#cm-btn-container {
  margin-bottom: 0px;
}

#submit-cm-btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.25em;
  color: #8FC6BB !important;
  /* border: 1px solid #8FC6BB;
  padding: 5px 30px;
  border-radius: 40px; */
}

#delete-cm-btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3em;
  color: #D3524E;
  margin-left: 5rem;
}

#cancel-cm-btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3em;
  color: rgb(194, 194, 194);
  margin-left: 0rem;
}

#cm-2-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.vote-text {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.25em;
  color: #8FC6BB !important;
}

.vote-button {
  border: none;
  background-color: transparent;
  color: #8FC6BB !important;
}

.vote-button:focus {
  border: none;
  background-color: transparent;
  color: #F4D28E !important;
  box-shadow: none !important;
  outline: none !important;

}

.vote-button:disabled {
  border: none;
  background-color: transparent;
  color: rgb(78, 119, 138) !important;
  box-shadow: none !important;
  outline: none !important;
}

/* 

MEDIA QUERIES
MEDIA QUERIES
MEDIA QUERIES

*/

@media screen and (min-width: 23em) {
  
  article.card .infos .cm-score {
    bottom: 270px;
  }

  @media screen and (min-height: 50em) {
    
    article.card .infos .cm-score {
      bottom: 380px;
    }

    article.card .infos .subtitle, article.card .infos .subtitle2 {
      font-size: 1.25rem;
    }

    article.card:hover .infos {
      transform: translateY(-300px);
    }

    .modal-body .form-group {
      margin-bottom: 0rem;
      margin-top: 1.5rem;
    }

  } 
}

@media screen and (min-width: 48em) {


  .add-new-cm {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.25rem;
  }

  article.card .infos {
    padding: 3rem;
  }

  article.card .infos .subtitle, article.card .infos .subtitle2 {
    font-size: 2rem;
  }

  article.card .infos .txt, article.card .infos .txt2 {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  article.card .infos .double-click-message {
    font-size: 1.3rem;
  }

  article.card .infos .cm-score {
    bottom: 450px;
  }

  .vote-button, .vote-text {
    font-size: 1.4rem;
  }

}

@media screen and (min-width: 60em) {

  article.card {
    width: 50vw;
  }
  
  .add-new-cm {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.25rem;
  }

  article.card:hover .infos {
    transform: translateY(-220px);
  }

  article.card .infos {
    padding: 3rem;
  }

  article.card .infos .subtitle, article.card .infos .subtitle2 {
    font-size: 1.3rem;
  }

  article.card .infos .txt, article.card .infos .txt2 {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  article.card .infos .double-click-message {
    font-size: 1rem;
  }

  article.card .infos .cm-score {
    bottom: 330px;
  }

  .vote-button, .vote-text {
    font-size: 1rem;
  }

  h5.modal-title {
    font-size: 1.25rem;
  }

  .modal-body {
    padding: 3rem !important;
  }

  .modal-body input {
    padding: 15px;
    margin: auto;
    margin-bottom: 1.5rem;
  }

  #submit-cm-btn {
    margin: 0; 
    margin-right: 0px !important;
  }

  #cm-btn-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: flex-start;
  }

  #cm-add-btn-container {
    margin-left: 30px;
    margin-bottom: 40px !important;
  }

}

@media screen and (min-width: 90em) {

  article.card:hover .infos {
    transform: translateY(-300px);
  }

  article.card .infos .cm-score {
    bottom: 500px;
  }

  .modal-body input {
    padding: 20px;
    margin: auto;
    margin-bottom: 1.5rem;
  }

  div#cm-btn-container {
    margin-top: 5vh;
    margin-bottom: 0;
  }


}