.overall-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}
.quick-hits-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    margin-top: 2.5vh;
    justify-content: center;
    background-color: #D1E8E0;
    border-radius: 5px;
    flex-flow: row wrap;
}

.quick-hit {
    display: flex;
    flex-direction: row;
    padding-left: 12px;
    padding-top: 5px;
    /* margin: 20px; */
    width: 100%;
    /* height: 150px; */
    /* flex: 1; */
    /* justify-content: center;
    align-content: baseline;
    text-align: center; */
}

.quick-hit:nth-child(1), .quick-hit:nth-child(3) {
    border-bottom: 1px solid rgba(187, 187, 187, 0.509);
}

.stats-divider {
    width: 1px;
    margin: 20px 0;
    background: rgb(169, 169, 169);
    display: none;
}

.stat-number {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(75, 111, 128);
    font-size: 2.5em;
    letter-spacing: .1em;
    flex: 1;
    margin: 0px;
}

.quick-hit > p {
    font-size: 1rem;
    flex: 2;
    align-self: center;
    margin-bottom: 0px;
}

/* .donut-container {
    margin-top: 100px;
    justify-content: center;
    text-align: center;
}

.donut-container > h2{
    margin-bottom: 50px;
}

.line-container {
    margin: auto;
    margin-top: 200px;
    height: 1000px;
    width: 1000px;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.charts-container {
    display: flex;
    flex-direction: row;
} */

.stats-card {
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    object-fit: contain;
    overflow: hidden;
    width: 90vw;
    height: 100%;
    background-color: #D1E8E0;
    border-radius: 5px;
    margin: auto;
    
    justify-content: center;
    align-content: center;
    text-align: center;
}

.stats-card > h2 {
    font-size: 1rem;
}

.carousel-container {
   /* width: 90vw; */
   margin: 0px;
   height: 60vh;
    /* padding: 40px; */
    padding-top: 2.5vh;
}

canvas.chartjs-render-monitor {
    width: 300 !important;
    height: 300 !important;
    margin: auto;
}

/* #donut-chart {
    width: 580px !important;
    height: auto !important;
    
    margin-top: 40px;
    margin-bottom: 0px; 
} */

canvas#donut-chart {
    width: 240px !important;
    height: 220px !important;
}


button:focus {
    outline-color: transparent;
    outline-style: none;
    outline: none;
}

@media screen and (min-width: 22em) {
    .stats-card > h2 {
        font-size: 1.1rem;
        margin-top: 1.5rem;
    }
}

@media screen and (min-width: 48em) {

    .quick-hits-container {
        display: flex;
        flex-direction: row;
        width: 85vw;
        margin: auto;
        margin-top: 2.5vh;
    }
    
    .quick-hit {
        display: flex;
        flex-direction: column;
        padding: 20px;
        flex: 1;
        justify-content: center;
        align-content: baseline;
        text-align: center;
    }
    
    .quick-hit:nth-child(1), .quick-hit:nth-child(3) {
        border-bottom: 0px;
    }
    
    .stats-divider {
        width: 1px;
        margin: 20px 0;
        background: rgb(169, 169, 169);
        display: block;
    }

    .carousel-container {
        width: 85vw;
        margin: auto;
        height: 80vh;
     }

    
     canvas#donut-chart {
        width: 490px !important;
        height: 450px !important;
    }

    .stats-card > h2 {
        font-size: 1.7rem;
    }

    .stats-card {
        width: 85vw;
        height: 100%;
        background-color: #D1E8E0;
        border-radius: 5px;
        margin: auto;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 1rem;
    }

    .chartjs-size-monitor > canvas{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 60em) {

    .quick-hits-container {
        width: 75vw;
        margin: auto;
        margin-top: 4vh;
    }

    .carousel-container {
        width: 75vw;
        margin: auto;
        height: 80vh;
     }

     .stats-card {
        width: 75vw;
        padding: .8rem;
     }

     .stats-card > h2 {
        margin-top: .5rem;
    }
    
     canvas#donut-chart {
        width: 440px !important;
        height: 400px !important;
    }

}

@media screen and (min-width: 90em) {

    .quick-hits-container {
        width: 45vw;
        margin: auto;
        margin-top: 4vh;
    }

    .carousel-container {
        width: 65vw;
        margin: auto;
        height: 80vh;
     }

     .stats-card {
        width: 65vw;
        padding: .8rem;
     }

     .stats-card > h2 {
        margin-top: .5rem;
    }
    
     canvas#donut-chart {
        width: 500px !important;
        height: 460px !important;
    }

}